html,
body{
  max-width: 100vw;
  overflow-x: hidden;
}
.content {
  height: 100vh;
  background: rgb(28,25,82);
  background: linear-gradient(180deg, rgba(28,25,82,1) 20%, rgba(37,56,106,1) 62%, rgba(53,114,150,1) 100%, rgba(69,172,193,1) 100%);
}